node_modules/

out/
dist/
*.vsix

*.map

.env
.env.local

npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

.DS_Store
Thumbs.db
.vscode-test/

.vscode/*
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/tasks.json